@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents
@page "/Kundepage"

<h3>Kunde Oversigt</h3>
<p>Her kan du se en oversigt over alle kunder som er registreret i systemet.</p>

<div class="table-wrapper">
    <table class="table">
        <thead>
            <tr class="Kunde-Tabel-Række">
                <th @onclick="() => SortByColumn(nameof(Kunde.KundeID))"> ID @UiValue </th> @if (currentSortColumn == nameof(Kunde.KundeID)) { if (isAscending == true) { UiValue = "ASC"; } else { UiValue = "DESC"; } }
                <th @onclick="() => SortByColumn(nameof(Kunde.Fornavn))"> Navn </th>
                <th @onclick="() => SortByColumn(nameof(Kunde.Email))"> Email </th>
                <th @onclick="() => SortByColumn(nameof(Kunde.TelefonNummer))"> Tlf </th>
                <th @onclick="() => SortByColumn(nameof(Kunde.PreferetMekanikerCprNummer))"> Pref. M </th>
                <th @onclick="() => SortByColumn(nameof(Kunde.ScooterBrandID))"> Scooter </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kunde in kundeListe)
            {
                <RenderKunde kunde="kunde" deleteKunde="DeleteKunde" />
            }
        </tbody>
    </table>
</div>
