@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents
@page "/Kundepage"

<div class="kunde-page">
    <h3>Kunde Oversigt</h3>
    <p>Her kan du se en oversigt over alle kunder som er registreret i systemet.</p>

    <table class="table">
        <thead>
            <tr class="Kunde-Tabel-Række">
                <th>Id</th>
                <th>Navn</th>
                <th>Email</th>
                <th>Tlf</th>
                <th>Pref. M</th>
                <th>Scooter</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kunde in kundeListe)
            {
                <RenderKunde kunde="kunde" deleteKunde="DeleteKunde" />
            }
        </tbody>
    </table>
</div>
