br{
    background-color: black;
}



td{
    padding: 8px;
    word-wrap: break-word;
}

tr:nth-child(2n){
    background-color: gray;
}

.Left-Side-Tabel{
    border: 1px solid gray;
}

.Kunde-Tabel{
    width: 100%;
    border-collapse: collapse;

}

.Kunde-Tabel-Område{
    max-height: 300px;
    overflow-y: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.Tabel-Header-Text {
    color: black;
    vertical-align: middle;
    display: table-cell;
}

.Tabel-Header{
    background-color: lightgray;
    padding: 5px 15px 5px 15px;
    border-bottom: 1px solid gray;
}


