@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents
@page "/Kundepage"
<button onclick="">Add</button>

<div class="Left-Side-Tabel">
	<div class="Tabel-Header">
		<p class="Tabel-Header-Text">Kunde tabel</p>
	</div>
	<div class="Kunde-Tabel-Område">
		<br class="Divider" />
		<table class="table">
			<tr class="Kunde-Tabel-Række">
				<th>Id</th>
				<th>Navn</th>
				<th>Email</th>
				<th>Tlf</th>
				<th>Pref. M</th>
				<th>Scooter</th>
				<th>Action</th>
			</tr>
			@foreach(var kunde in kundeListe)
			{
				<RenderKunde kunde="kunde" deleteKunde="DeleteKunde" />	
			}
		</table>
	</div>
</div>







