@using EksamensProjektScooterLandBlazor.Shared.Models;
@page "/Kundepage"

<div class="Left-Side-Table">
	<table class="Kunde-Table">
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Email</th>
			<th>TelefonNummer</th>
			<th>Prefereret Mekaniker</th>
			<th>Scooter brand</th>
		</tr>
	</table>
</div>

