@using EksamensProjektScooterLandBlazor.Shared.Models;
@page "/Kundepage"

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th>TelefonNummer</th>
		<th>Prefereret Mekaniker</th>
		<th>Scooter brand</th>
	</tr>
	
</table>

