@page "/Mekaniker"
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Client.Services;

<h3>Mekaniker</h3>
<br />

<table class="table">
    <tr>
        <th>CPR-nummer</th>
        <th>Fornavn</th>
        <th>Efternavn</th>
        <th>Rolle</th>
        <th>Scooter brand ekspertise</th>
    </tr>

    @foreach (var item in MekanikerList)
    {
        <RenderMekaniker mekaniker="@item"/>
    }

</table>

<div></div>
<br />


<!-- display errorcode-->
<label>return code: @ErrorCode</label>

@code {

    private List<Mekaniker> MekanikerList = new List<Mekaniker> ();

   
    [Inject]
    public IMekanikerService service { get; set; }


    private int ErrorCode { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        MekanikerList = (await service.GetAllMekaniker()).ToList();
        
    
    }


}
