@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents;

@page "/Produkt"

@if (AddingOrdreBool == false)
{
	<h3 class="header">Produkt Oversigt</h3>
	<p class="description">Her kan du se en oversigt over alle produkter som er i systemet.</p>

	
}

<input @bind="SearchText" @bind:event="oninput" placeholder="Søg" />

<div class="produkt-page">
	
	
<div class="table-wrapper">
	<table class="table">
		<thead>
			<tr class="Produkt-tabel-række">
				<th @onclick="() => SortByColumn(nameof(Produkt.ProduktID))">Id</th>
				<th @onclick="() => SortByColumn(nameof(Produkt.ProduktNavn))">Produkt</th>
				<th @onclick="() => SortByColumn(nameof(Produkt.ProduktPris))">Pris</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
				@foreach (var produkt in FilteretProduktList)
			{
				<RenderProdukt produkt="produkt" OrdreAddBool="AddingOrdreBool" Produkttilføjet="Produkttilføjet" deleteProdukt="DeleteProdukt" OrdreId="OrdreID"/>
			}
		</tbody>
	</table>
</div>
</div>

<button class="tilføj-produkt" @onclick="visTilføjProduktSide">Tilføj Produkt</button>

@if(visTilføjProdukt == true)
{
	<AddProduktPage></AddProduktPage>
}




