@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents;

@page "/Produkt"


<h3>Produkter</h3>
<br/>

<br/>

<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th> Id</th>
				<th> Produktnavn</th>
				<th>Produktpris</th>
			</tr>
		</thead>

		<thead>

			@foreach (var item in produktListe)
			{
				<RenderProdukt produkt="@item" />
			}

		</thead>
	</table>

</div>

<EditForm Model="newProdukt">
	<div>
		<label for="name">Produkt:</label>
		<InputText id="navn" @bind-Value="newProdukt.ProduktNavn"/>
	</div>
	<div>
		<label for="estimeretTid">Estimeret tid:</label>
		<InputNumber id="estimeretTid" @bind-Value="newProdukt.ProduktPris"
		class="form-control"
		min="0"
		@oninput="EnsureNonNegative"/> 

	</div>
	<br />
	<button type="submit">Tilføj produkt</button>
</EditForm>












@code
{
	private List<Produkt> produktListe = new List<Produkt>();

	private Produkt newProdukt = new Produkt();

	[Inject]
	public IProduktService Service {get; set;}

	protected override async Task OnInitializedAsync()
	{
		produktListe = (await Service.GetAllProdukt()).ToList();
	}

	private void EnsureNonNegative(ChangeEventArgs e)
	{
		if (newProdukt.ProduktPris < 0){
			newProdukt.ProduktPris = 0;
		}
	}

	

}
