@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;
@using EksamensProjektScooterLandBlazor.Client.ChildComponents;

@page "/Produkt"

@if (AddingOrdreBool == false)
{
	<h3>Produkt Oversigt</h3>
	<p>Her kan du se en oversigt over alle produkter som er i systemet.</p>
}

<div class="produkt-page">
	

	<table class="table">
		<thead>
			<tr class="Produkt-tabel-række">
				<th>Id</th>
				<th>Produkt</th>
				<th>Pris</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach(var produkt in produktListe)
			{
				<RenderProdukt produkt="produkt" Produkttilføjet="Produkttilføjet" deleteProdukt="DeleteProdukt"/>
			}
		</tbody>
	</table>
</div>
@* <h4>Produkter</h4>

<div class="table-container">
	<table class="table">
		<thead>
			<tr>
				<th> Id</th>
				<th> Produktnavn</th>
				<th>Produktpris</th>
				<th>Action</th>
			</tr>
		</thead>

		<thead>

			@foreach (var item in produktListe)
			{
				<RenderProdukt produkt="@item" Produkttilføjet="tilføjetProdukt" deleteProdukt="DeleteProdukt" OrdreAddBool="@AddingOrdreBool" OrdreId="@OrdreID" />
			}

		</thead>
	</table>

</div> *@


