@using EksamensProjektScooterLandBlazor.Client.Services;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using Microsoft.AspNetCore.Components;
@inject NavigationManager NavigationsManager;


@page "/ScooterLejePage"

<div class="Tabel-Header h4">
    <p class="Tabel-Header-Text">Scooter Leje</p>
</div>

<div class="table-container">
    <table class="ScooterLeje-table">
        <thead>
            <tr>
                <th>ScooterID</th>
                <th>SelvRisiko</th>
                <th>ForsikringPrKm</th>
                <th>DagsLejePris</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var Leje in scooterLejeList)
                {
                    <tr>
                        <td>@Leje.ScooterID</td>
                        <td>@Leje.SelvRisiko kr.</td>
                        <td>@Leje.ForsikringPrKm kr/km.</td>
                        <td>@Leje.DagsLejePris kr.</td>
                        <td>
                        @if (OrdreAddBool == false)
                        {

                        }
                        else if (OrdreAddBool == true)
                        {
                            <button class="btn btn-primary" @onclick="() => AddScooterLejeToOrdre()">Tilføj til ordrelinje</button>
                        }
                        </td>
                    </tr>
                }
        </tbody>
    </table>
</div>

@code {

    private List<ScooterLeje> scooterLejeList = new List<ScooterLeje>();
    private ScooterLeje scooterLejeModel = new ScooterLeje();
    private OrdreLinje ordreLinjeDagsPris = new OrdreLinje();
    private OrdreLinje ordreLinjeKmPris = new OrdreLinje(); 

    [Parameter]
    public bool OrdreAddBool { get; set; } = false;

    [Parameter]
    public int ScooterID { get; set; }

    [Parameter]
    public int Ordreid { get; set; }

    [Parameter]
    public ScooterLeje scooterLeje { get; set; }

    [Parameter]
    public EventCallback scootertilføjet { get; set; }


    [Inject]
    public IScooterLejeService Service { get; set; }

    [Inject]
    public IOrdreLinjeService OrdreLinjeService { get; set; }



    protected override async Task OnInitializedAsync()
    {
        scooterLejeList = (await Service.GetAll()).ToList();
    }

    private async Task DeleteScooterLeje()
    {
        // await deleteProdukt.InvokeAsync(produkt);
        var placeholder = "intet at se her...";
        Console.WriteLine(placeholder);

    }

    private async Task scooterTilføjet()
    {
        await scootertilføjet.InvokeAsync();
    }

    private async void AddScooterLejeToOrdre()
    {
       
    }
}
