@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/YdelsePage"
<br />
<div class="Tabel-Header">
    <p class="Tabel-Header-Text">Ydelser</p>
</div>

<div class="table-container">
    <table class="ydelse-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ydelsesnavn</th>
                <th>Estimeret Tid</th>
                <th>Pris</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ydelse in YdelsesList)
            {
                <RenderYdelse ydelseTilføjet="ydelseTilføj" ydelser="ydelse" OrdreAddBool="AddingOrdreBool" Ordreid="@Ordreid"/>
            }
        </tbody>
    </table>
</div>

<br />
@if (Ordreid == null)
{
    <button class=" btn btn-primary" @onclick="OpenAddYdelse"> Tilføj Ydelse</button>

}



@if (AddingOrdreBool == true)
{
    <AddYdelsePage AddYdelsebtn = "AddingOrdreBool == true"/>
}

