@using EksamensProjektScooterLandBlazor.Client.ChildComponents;
@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client.Services;

@page "/YdelsePage"

<h3>Ydelse</h3>

<table class="table">
    <tr>
        <th>YdelseID</th>
        <th>Ydelsesnavn</th>
        <th>EstimeretTid</th>
        <th>Pris</th>
    </tr>

    @foreach (var ydelse in YdelsesList)
    {
        <RenderYdelse ydelser ="@ydelse" />
    }
</table>


    <br />

<EditForm Model="newYdelse" OnValidSubmit="AddYdelseHandler">
    <div>
        <label for="name">Ydelse:</label>
        <InputText id="navn" @bind-Value="newYdelse.YdelseNavn" />
    </div>
    <div>
        <label for="EstimeretTid">EstimeretTid:</label>
        <InputNumber id="EstimeretTid" @bind-Value="newYdelse.EstimeretTid" />
    </div>
    <div>
        <label for="Pris">Pris:</label>
        <InputNumber id="Pris" @bind-Value="newYdelse.Pris" />
    </div>
    <br />
    <button type="submit">Tilføj Ydelse </button>
</EditForm>



@if (ErrorCode != 0)
{
    <p>@(ErrorCode == 200 ? "Ydelse successfully added!" : $"Error adding Ydelse. Code: {ErrorCode}")</p>
}


@code {

}
