
tr {
    background-color: white;
}

   
    tr:hover {
        background-color: #f1f1f1;
    }


td {
    padding: 12px; 
    vertical-align: middle; 
}


button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}


.Rediger-knap, .Slet-knap {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

 
    .Rediger-knap:hover, .Slet-knap:hover {
        background-color: #ddd;
        transform: scale(1.1);
    }

button svg {
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease, fill 0.5s ease;
}


.Rediger-knap:hover svg {
    transform: scale(1.1); 
}

.Slet-knap:hover svg {
    transform: scale(1.1); 
}


.Rediger-knap:hover, .Slet-knap:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Ikonfarver for rediger og slet */
.feather.feather-edit {
    stroke: #0288d1;
}

.feather.feather-trash {
    stroke: #f44336;
}

.feather.feather-edit:hover {
    stroke: #0277bd;
}

.feather.feather-trash:hover {
    stroke: #d32f2f;
}

/* General styles for modal */
.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

    .modal-content h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .modal-content p {
        font-size: 14px;
        margin-bottom: 20px;
    }

.modal-actions {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

    .btn-success:hover {
        background-color: #218838;
    }

.btn-danger {
    background-color: #dc3545;
    color: white;
}

    .btn-danger:hover {
        background-color: #c82333;
    }

/* Modal animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

