.input-group {
    display: flex; /* Brug flexbox til at arrangere elementerne horisontalt */
    align-items: center; /* Juster elementerne vertikalt */
    position: relative;
}

    .input-group .form-control {
        flex-grow: 1; /* Gør inputfeltet fleksibelt og fyld tilgængelig plads */
    }

    .input-group .btn-clear {
        background: transparent;
        border: none;
        color: #aaa;
        font-size: 1.2em;
        cursor: pointer;
        padding: 0 10px; /* Tilføj lidt padding omkring krydset */
        margin-left: 10px; /* Øg afstanden mellem krydset og inputfeltet */
    }

        .input-group .btn-clear:hover {
            color: #000;
        }

.btn-primary {
    margin-top: 10px;
}
