tr {
    background-color: white;
}

    tr:hover{
        background-color: #f1f1f1;
    }

td{
    padding: 12px;
    vertical-align: middle;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin-right: 10px;
    border-radius: 4px;
    transition: transform 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
}

.Rediger-knap, .Slet-knap {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.5s ease, transform 0.3s ease;
}

    .Rediger-knap:hover, .Slet-knap:hover {
        background-color: #ddd;
        transform: scale(1.1);
    }


button svg {
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease, fill 0.5s ease;
}


.Rediger-knap:hover svg {
    transform: scale(1.1); 
}

.Slet-knap:hover svg {
    transform: scale(1.1); 
}


.Rediger-knap:hover, .Slet-knap:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}


.feather.feather-edit {
    stroke: #0288d1;
}

.feather.feather-trash {
    stroke: #f44336;
}

.feather.feather-edit:hover {
    stroke: #0277bd;
}

.feather.feather-trash:hover {
    stroke: #d32f2f;
}

.btn-tilføjprodukt {
    background-color: transparent;
    color: #0056b3;
    border: 1px #0056b3;
    border-radius: 10px;
    font-weight: bold;
}

    .btn-tilføjprodukt:hover {
        background-color: #ddd;
        color: black;
        transition: 0.5s ease;
        transform: scale(1.05);
    }


