@using EksamensProjektScooterLandBlazor.Shared.Models;
@using EksamensProjektScooterLandBlazor.Client;



<tr class="hoverable-row">
    <td>@ydelser.YdelseID</td>
    <td>@ydelser.YdelseNavn</td>
    <td>@ydelser.EstimeretTid</td>
    <td>@ydelser.Pris kr.</td>
</tr>


@code {

    [Parameter]
    public Ydelse ydelser { get; set; }
}
