@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <!-- Footer Section with Multiple Lines -->
        <footer class="footer px-4 py-3">
            <div class="footer-line">
                <h6>&copy; 2024 Scooterland A/S. All rights reserved.</h6>
            </div>
            <div class="footer-line">
                <h6>Adresse: Møtrikvej 25, 7100 Vejle</h6>
            </div>
            <div class="footer-line">
                <h6>Kontakt os:</h6>
            </div>
            <div class="footer-line">
                <h6>E-mail: Kontakt@scooterland.dk</h6>
            </div>
            <div class="footer-line">
                <h6>Tlf: +45 23 46 51 89</h6>
            </div>
        </footer>
    </main>

  
</div>
