@inject HttpClient httpClient

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <a class="navbar-brand d-flex justify-content-center" href=""></a>
        <img src="ScooterLogo.png" style="max-width: 23%; height: auto; margin-left: 0%; margin-right: 10%;" />
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="Ordre" Match="NavLinkMatch.All">
                <span class="bi bi-order-nav-menu" aria-hidden="true"></span> Ordrer
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="Mekaniker" Match="NavLinkMatch.All">
                <span class="bi bi-mekaniker-nav-menu" aria-hidden="true"></span> Mekaniker
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="Kundepage" Match="NavLinkMatch.All">
                <span class="bi bi-kunde-nav-menu" aria-hidden="true"></span> Kunder
            </NavLink>
        </div>
       <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="YdelsePage" Match="NavLinkMatch.All">
                <span class="bi bi-ydelse-nav-menu" aria-hidden="true"></span> Ydelser
            </NavLink>
            </div>
         <div class="nav-item px-3 d-flex align-items-center justify-content-between">
            <NavLink class="nav-link flex-grow-1" href="Produkt" Match="NavLinkMatch.All">
                <span class="bi bi-produkt-nav-menu" aria-hidden="true"></span> Produkter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ScooterLejePage">
                <span class="bi bi-scooterleje-nav-menu" aria-hidden="true"></span> Scooterleje
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" @onclick="HandleBackupClicked" disbled="@AwaitTenSeconds">
                <span aria-hidden="true" class="bi bi-backup-nav-menu"></span> Backup
            </NavLink>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <div class="bottom-info mt-auto">
            <p class="text-center m-0 text-white">
                Lille Lisevej 12, Odense<br />
                Danmark<br />
                Telefon: 12345678<br />
                Email: <a href="mailto:Scooterland@gmail.com" class="text-white">Scooterland@gmail.com</a>
            </p>
        </div>
    </nav>
</div>




@code {
    private bool collapseNavMenu = true;
    private bool[] showSubMenu = new bool[6];

    private bool BackupClickedbool = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task HandleBackupClicked()
    {
        if (!BackupClickedbool)
        {
            OpenBackupPage();
            AwaitTenSeconds();
        }
    }

    private async Task AwaitTenSeconds()
    {
        BackupClickedbool = true;
        await Task.Delay(10000);
        BackupClickedbool = false;
    }

    private async Task OpenBackupPage()
    {
        var response = await httpClient.GetAsync("api/winform");    
    }

}
