@*Author: Stack overflow: https://stackoverflow.com/questions/69039751/blazor-hide-the-side-and-top-bar-on-a-specific-page-not-for-the-whole-site*@

@inherits LayoutComponentBase

<div class="page">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {

}
